github "jeremybarnum/LoopKit" "dev-CCN"
github "jeremybarnum/CGMBLEKit" "dev-CCN"
github "i-schuetz/SwiftCharts" == 0.6.5
github "jeremybarnum/dexcom-share-client-swift" "dev-CCN"
github "jeremybarnum/G4ShareSpy" "dev-CCN"
github "jeremybarnum/rileylink_ios" "dev-CCN"
github "LoopKit/Amplitude-iOS" "decreepify"
